[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "perspectiveR"]
	path = perspectiveR
	url = https://github.com/eydlinilya/perspectiver
